.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid blue;
  border-right: 12px solid green;
  border-bottom: 12px solid red;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -3em;
  margin-left: -5em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  background: #000000 !important;
}

#globalStats {
  border: 1px solid #FFDF00;
  border-radius: 5px;
  padding: 15px;
  width: 230px;
  position: fixed;
  z-index: 10000;
  top: 215px;
  left: 80%;
  font-family: monospace;
  color: white;
  opacity: 0.8;
}
